@model WorldCheckMap.Services.Dto.CountriesInitialDataDto
@{
    ViewData["Title"] = "Home Page";
}

<div id="react-root"></div>

<script>
    window.INITIAL_DATA = @Html.Raw(Json.Serialize(Model));
</script>
